@charset "UTF-8";
/* очищение всех отсупов и границ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* измена подсчета ширины блока */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки в некоторых браузерах */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делаем теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/*уравниваем поведение шрифтов и элементов для разных браузеров и запрет самовольного увеличение шрифта (например на айфонах)*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* наследуем семейства шрифта, т.к. по умолчанию они не наследуют*/
input,
button,
textarea {
  font-family: inherit;
}

/*убираем некоторые особенности в некоторых браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуляем заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "UndertaleFont";
  src: url("../fonts/UndertaleFont/Undertale-Battle-Font.eot");
  src: local("☺"), url("../fonts/UndertaleFont/Undertale-Battle-Font.woff") format("woff"), url("../fonts/UndertaleFont/Undertale-Battle-Font.ttf") format("truetype"), url("../fonts/UndertaleFont/Undertale-Battle-Font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto 10%;
}

.containerGame {
  margin: 50px 50px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 16, 16);
}
.containerGame .containerGame__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.containerGame .containerGame__menu .containerGame__text {
  color: white;
  font-family: UndertaleFont;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px 7px;
  align-self: center;
}
.containerGame canvas {
  background: url("../img/room.png") 0 0/100% 100% no-repeat;
  overflow: hidden;
  width: 896;
  height: 504;
}
.containerGame .btnPixel {
  height: 50px;
  width: 100px;
  margin-right: 8px;
  margin-left: 8px;
  background-position: 0 0;
  background: url("../img/sprite_btns_pixel.png") 0 0/cover;
  color: rgb(249, 240, 199);
  font-family: UndertaleFont;
  font-size: 42px;
}
.containerGame .btnPixel .btnPixel__text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  font-family: UndertaleFont;
  font-size: 22px;
  color: rgb(249, 240, 199);
  letter-spacing: 1.5px;
  transition: color 1s, font-size 0.5s;
}
.containerGame .btnPixel .btnPixel__text:active {
  padding-bottom: 0px;
  padding-top: 7px;
  font-size: 24px;
}
.containerGame .btnPixel .btnPixel__text:hover {
  transition: color 0.5s, font-size 0.5s;
  font-size: 24px;
}
.containerGame .btnPixel:hover {
  background: url("../img/sprite_btns_pixel.png") 200px 100px/cover;
}
.containerGame .btnPixel:active {
  background: url("../img/sprite_btns_pixel.png") 400px 200px/cover;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.reversed {
  transform: scale(-1, 1);
}